In [1]:
# The code was removed by Watson Studio for sharing.

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [32]:
df_data_0.shape

(288, 3)

In [5]:
df_data_0.dtypes

Postcode         object
Borough          object
Neighbourhood    object
dtype: object

In [2]:
df = df_data_0[df_data_0.Borough != 'Not assigned'] # remove the not assigned data

In [68]:
df.reset_index(drop=True, inplace=True)
df.head(10)

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights
5      M6A        North York    Lawrence Manor
6      M7A      Queen's Park      Not assigned
7      M9A         Etobicoke  Islington Avenue
8      M1B       Scarborough             Rouge
9      M1B       Scarborough           Malvern

In [3]:
# replace the Not assigned neibourhood with the borough name
df['Neighbourhood'] = np.where(df['Neighbourhood'] == 'Not assigned', df['Borough'], df['Neighbourhood'])
df.shape

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

(211, 3)

In [4]:
df.head(10)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue
11      M1B       Scarborough             Rouge
12      M1B       Scarborough           Malvern

In [5]:
#Merging Postcode rows with same names 
dfMerge = df.groupby('Postcode').agg({'Neighbourhood': ', '.join,}).reset_index()

df.head(8)

   Postcode           Borough     Neighbourhood
2       M3A        North York         Parkwoods
3       M4A        North York  Victoria Village
4       M5A  Downtown Toronto      Harbourfront
5       M5A  Downtown Toronto       Regent Park
6       M6A        North York  Lawrence Heights
7       M6A        North York    Lawrence Manor
8       M7A      Queen's Park      Queen's Park
10      M9A         Etobicoke  Islington Avenue

In [6]:
dfMerge.head(10)

  Postcode                                    Neighbourhood
0      M1B                                   Rouge, Malvern
1      M1C           Highland Creek, Rouge Hill, Port Union
2      M1E                Guildwood, Morningside, West Hill
3      M1G                                           Woburn
4      M1H                                        Cedarbrae
5      M1J                              Scarborough Village
6      M1K      East Birchmount Park, Ionview, Kennedy Park
7      M1L                  Clairlea, Golden Mile, Oakridge
8      M1M  Cliffcrest, Cliffside, Scarborough Village West
9      M1N                      Birch Cliff, Cliffside West

In [7]:
df.shape

(211, 3)

In [8]:
#Use the Geocoder package or the csv file to create the following dataframe
body = client_4799fcf3316b4a629dd211f84d87c049.get_object(Bucket='datasciencecapstoneproject-donotdelete-pr-ub6a0y1hflomlx',Key='Geospatial_Coordinates.xlsx')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

df_data_geo = pd.read_excel(body)
df_data_geo.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476